<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 p-10">

<div class="max-w-2xl mx-auto bg-white p-8 shadow rounded">

    <h1 class="text-2xl font-bold mb-4">PAYSLIP</h1>

    <p><strong>Employee:</strong> {{ payroll.employee.user.username }}</p>
    <p><strong>Month:</strong> {{ payroll.month }}</p>

    <hr class="my-4">

    <div class="space-y-2">

        <p>Basic Salary: {{ payroll.basic_salary }}</p>
        <p>PAYE: {{ payroll.paye }}</p>
        <p>NSSF: {{ payroll.nssf }}</p>
        <p>NHIF: {{ payroll.nhif }}</p>

        <hr>

        <p class="text-xl font-bold">Net Salary: {{ payroll.net_salary }}</p>

    </div>

</div>

</body>
</html>